.index-container {
  height: 85vh;
}

.left-div {
  width: 68%;
  height: 100%;
  float: left;
}

.right-div {
  width: 31%;
  height: 100%;
  float: right;
}

.left-top {
  display: flex;
}

.left-down {
  background-color: bisque;
}

.left-top-left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.left-top-right {
  flex: 1;
  background-color: chocolate;
}

.left-top-left-top {
  flex: 1;
  background-color: aquamarine;
}

.left-top-left-bottom {
  flex: 1;
  background-color: cadetblue;
}

.right-top {
  display: flex;
  background-color: aquamarine;
}

.right-top-left {
  flex: 1;
  background-color: antiquewhite;
}

.right-top-right {
  flex: 1;
  background-color: aqua;
}

.right-bottom {
  background-color: skyblue;
}
