.ComponentLeft {
  width: 300px;
  color: black;
  margin-left: 44px;
  margin-bottom: 10px;
}

.ComponentRight {
  width: 300px;
  color: black;
  margin-bottom: 10px;
}

.Header {
  background-image: url('/biaoti.png');
  background-size: 100% 100%;
  width: 332px;
  height: 50px;
  border-radius: 0 0 0 27px;
  opacity: 1;
}

.HeaderText {
  display: inline-block;
  font-size: 21px;
  line-height: 28px;
  color: white;
  margin-left: 35px;
  margin-top: 10px;
}

.HeaderRight {
  float: right;
  margin-top: 12px;
  margin-right: 29px;
}

.HeaderLeft {
  margin-left: 20px;
}

.LeftContent {
  width: 332px;
  opacity: 1;
  background: linear-gradient(360deg, #2471fa 0%, #0f1e68 100%);
  filter: blur(0);
}

.RightContent {
  width: 332px;
  opacity: 1;
  background: linear-gradient(360deg, #2471fa 0%, #0f1e68 100%);
  filter: blur(0);
}

.OneList {
  color: white;
}

.RightLeftList {
  width: 150px;
  display: inline-block;
  color: white;
  margin-right: 15px;
}

.RightRightList {
  width: 150px;
  display: inline-block;
  color: white;
  margin-left: 15px;
}

.LeftContentLine {
  margin-top: 25px;
  display: inline-block;
  padding-top: 10px;
}

.RightContentLine {
  display: block;
}

.IconOnTheLeft {
  vertical-align: middle;
  margin-left: 38px;
}

.ListName {
  vertical-align: middle;
  margin-left: 10px;
  display: inline-block;
}

.ListCount {
  margin-top: 25px;
  float: right;
  margin-right: 20px;
  vertical-align: middle;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
}

.RightListCount {
  float: left;
  margin-left: 70px;
  vertical-align: middle;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
}

.IconLeftBottom {
  margin-left: 37px;
  margin-right: 37px;
  width: 80%;
}

.RightMiddle {
  vertical-align: middle;
  margin-top: 10px;
}

.Loading {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-top-color: transparent;
  border-radius: 100%;
  animation: circle infinite 0.75s linear;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
