.UpperMenuItem:focus {
  font-weight: bold;
}

.InputBlock {
  background-color: #fff;
}

.BlockTypeNameBackUp {
  width: 199px;
  height: 32px;
  background: #fff;
  border-radius: 6px; /* 合并为一个值 */
  margin: 10px 8px;
}

.BlockTypeName {
  width: 200px;
  height: 32px;
  background: #fff;
  border-radius: 6px;
  margin: 18px 6px 18px 10px;
}

.BlockTypeGrid {
  width: 200px;
  height: 32px;
  background: #fff;
  border-radius: 6px;
  margin: 18px 6px;
}

.ButtonType {
  padding: 160px auto;
  margin: 18px 6px;
  height: 32px;
  float: right;
}

/* 请不要问为什么是2.5px。。。我也不知道像素居然还能小数点，不然无法对齐 */

.RangePicker {
  margin: 18px 6px;
  padding: 6px 11px 2.5px;
  width: 420px;
}

/* .ButtonType2{
  display: flex;
  justify-content: flex-end;
} */
